@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="d-flex gx-3 py-0 my-0" style="list-style:none;">
@if (SignInManager.IsSignedIn(User))
{
    if(User.IsInRole("ADMIN")){
        <li class="">
            <a class="nav-link text-dark" href="@Url.Action("AdminIndex", "Photo")">Le tue foto</a>
        </li>
        <li class="">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Message")">I tuoi messaggi</a>
        </li>
    }
    if(User.IsInRole("SUPERADMIN")){
        <li class="">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Category")">Gestisci le categorie</a>
        </li>
        <li class="">
            <a class="nav-link text-dark" href="@Url.Action("SuperadminIndex", "Photo")">Gestisci le foto</a>
        </li>
    }
    <li class="">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ciao @UserManager.GetUserName(User)!</a>
    </li>
    <li class="">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Photo", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registrati</a>
    </li>
    <li class="">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
