@model List<Category>

<div class="container">
    @if(Model != null)
    {
        <table class="table mb-4">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Modifica o Cancella</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Category c in Model)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td class="d-flex gap-5">
                            <a class="btn btn-primary" href="@Url.Action("Edit", "Category", new {id = c.Id})">E</a>
                            <form asp-action="Delete" asp-controller="Category" asp-route-id="@c.Id" method="post">
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-danger" value="-" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-light" href="@Url.Action("Create", "Category")">Aggiungi categoria</a>
    }
    else
    {
        <h2 class="text-danger">Non hai categorie salvate</h2>
    }
</div>
