@*@model List<Photo>?*@
@{
    ViewData["Title"] = "Le tue foto";
}

<input type="text" placeholder="Cerca immagine per titolo" class="form-control mb-5 w-75 mx-auto" id="searchBar" onkeyup="getPhotos()"/>
<div class="container d-flex justify-content-around flex-wrap px-5" id="card-container">
    @*@if(Model != null)
    {
        foreach(Photo photo in Model)
        {
            if(User.IsInRole("ADMIN") || photo.Visibile)
            {
                <div class="card" style="width: 20%; min-width: 200px">
                    <img class="card-image w-100" style="height: 180px; object-fit: contain;" src="~/img/@photo.Img">
                    <div class="card-header">@photo.Title</div>
                    <div class="card-body overflow-hidden">@photo.Description</div>
                    <div class="d-flex justify-content-around px-1 pb-4">
                        <a class="btn btn-primary" href="@Url.Action("ShowPhoto", "Photo", new {id = photo.Id})">S</a>
                        @if (User.IsInRole("ADMIN"))
                        {
                            <a class="btn btn-primary" href="@Url.Action("EditPhoto", "Photo", new {id = photo.Id})">E</a>
                            <form asp-action="DeletePhoto" asp-controller="Photo" method="post" asp-route-id="@photo.Id">
                                @Html.AntiForgeryToken()
                                <input class="btn btn-danger" type="submit" value="-"/>
                            </form>                            
                        }
                    </div>
                </div>
            }
        } 
    }*@
</div>
@if (User.IsInRole("ADMIN"))
{
    <a class="btn btn-light d-block mt-4 mx-auto" href="@Url.Action("CreateForm", "Photo")" style="width: fit-content;">Aggiungi una nuova foto</a>
}

@section Scripts{
    <script type="text/javascript" src="~/js/indexScript.js"></script>
    <script>
        getPhotos();
    </script>
}
