@model Photo

<div class="container">
    <h1>@Model.Title</h1>
    <h3>By @Model.User.UserName</h3>
    @if(Model.categories != null)
    {
        <h2>
            @foreach(var c in Model.categories)
            {
                Write("#" + c.Name);
                @(Model.categories.IndexOf(c) != Model.categories.Count() - 1 ? ", " : "")
            }
        </h2>
    }
    <img class="w-100" style="max-height: 300px; object-fit:contain;" src="@Model.ImageEntryBase64" />
    <p>@Model.Description</p>
    <a class="btn btn-light d-block my-3 mx-auto" style="width:fit-content" href="@Url.Action("CreateMessage", "Message", new {i = Model.Id})">Messaggia l'autore'</a>
</div>